<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motivational Puppy</title>
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <a href="#">Make Poster</a>
        <a href="#">Saved Posters</a>
    </nav>
    <%- body %>
</body>
</html>