<div class="container">
    <div class="row col-9 mx-auto">
        <div class="col-7 mx-auto">
            <h1>Create a Custom Template Here!</h1>
        </div>
        <div class="col-7 mx-auto d-inline-flex">
            <div class="col-7 mx-auto">
                <form method="POST" class="form-group" action="/new-template" >
                <h2>Choose a Text Position</h2>
                <ul>
                    <li>
                        <label for="text_position">Text Top</label>
                        <input type="radio" id="text_position" name="text-postion" value="text_position_top" /> 
                    </li>
                    <li>
                        <label for="text_position">Text Bottom</label>
                        <input type="radio" id="text_position" name="text-postion" value="text_position_bottom" />
                    </li>
                    <li>
                        <label for="text_position">Text Left</label>  
                        <input type="radio" id="text_position" name="text-postion" value="text_position_left" />
                    </li>
                    <li>
                        <label for="text_position">Text Right</label>
                        <input type="radio" id="text_position" name="text-postion" value="text_position_right" />
                    </li>
                    <li>
                        <label for="text_position">Text Middle</label>
                        <input type="radio" id="text_position" name="text-postion" value="text_position_middle" />
                    </li>
                </ul>
            </div>
            <div class="col-7 mx-auto">
                <h2>Pick a Font</h2>
                <ul>
                    <li>
                        <label for="font">Serif</label>
                        <input type="radio" id="font" name="font" value="font_serif" />
                    </li>
                    <li>
                        <label for="font">Sans-Serif</label>
                        <input type="radio" id="font" name="font" value="font_sans-serif" />
                    </li>
                    <li>
                        <label for="font">Monospace</label>
                        <input type="radio" id="font" name="font" value="font_monospace" />
                    </li>
                    <li>
                        <label for="font">Cursive</label>
                        <input type="radio" id="font" name="font" value="font_cursive" />
                    </li>
                    <li>
                        <label for="font">Fantasy</label>
                        <input type="radio" id="font" name="font" value="font_fantasy" />
                    </li>
                </ul>
            </div>
            <div class="col-7 mx-auto">
                <h2>Fancy a Font Color?</h2>
                <ul>
                    <li>
                        <label for="font_color">Black</label>
                        <input type="radio" id="font_color" name="font_color" value="font_color_black" />
                    </li>
                    <li>
                        <label for="font_color">White</label>
                        <input type="radio" id="font_color" name="font_color" value="font_color_white" />
                    </li>
                    <li>
                        <label for="font_color">Blue</label>
                        <input type="radio" id="font_color" name="font_color" value="font_color_blue" />
                    </li>
                    <li>
                        <label for="font_color">Green</label>
                        <input type="radio" id="font_color" name="font_color" value="font_color_green" />
                    </li>
                </ul>
            </div>
        </div> 
        <div class="row col-7 mx-auto">
            <label for="Template_Name">Name Your Custom Template!</label>
        </div>    
        <div class="row col-7 mx-auto">
            <input type="text" id="Template_Name" name="name" />
            <input type="submit" value="Save Template"  class="btn btn-primary"/>
            </form>
        </div>       
</div>