body {
    background-color: #FEFAE0;
}

.fullSize {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.myPostImg {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.myPostQuote {
    font-size: 10px;
}

.myPostAuth {
    font-size: 10px;
}

.editPosterPg {
    height: 600px;
    width: 500px;
    object-fit: cover;
}

.posterOutline {
    position: relative;
    background-color: #D4A373;
}

 .mx-auto {
     display: block;
 }

 .quotePositionAlpha {
     position:absolute;
     top: 100px;
     left: 30px;
     font-family: monospace;
     color: white;
     width: 500px;
 }

 .quotePositionBeta {
    position:absolute;
    bottom: 50px;
    left: 30px;
    font-family: serif;
    color: black;
    width: 500px;
 }

.quotePositionOmega {
    position:absolute;
    top: 50px;
    right: 400px;
    width: 100px;
    font-family: monospace;
    color: white;
}

